<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EchoGames</title>

    <script src="static/math.js"           defer></script>
    <script src="static/element.js"        defer></script>
    <script src="static/request.js"        defer></script>
    <script src="static/game_interface.js" defer></script>
    <script src="static/conversation.js"   defer></script>
  </head>

  <body>
    <h1>EchoGames!</h1>
    
    <hr/>

    <label for="games">Choose a game:</label>
    <select name="games" id="games">
      {% for game in games %}
        <option value="{{game.path}}">{{game.name}}</option>
      {% endfor %}
    </select>

    <label for="session_id">Session ID:</label>
    <input type="text" size=25 id="session_id">

    <hr/>

    <div id="transcript" aria-live="assertive"></div>

    <hr/>

    <label for="line_input">You say:</label>
    <input type="text"   id="line_input">
    <input type="button" id="send_button" value="Send">

  </body>
</html>
